

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

body {
  color : #803d37;
  background-color: #e4eef2;
}

h1{
  background-color: #e4eef2;
  color: #F36870;
  margin: 0;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: #A9C5D0;
}
.thing-hidden {
  visibility: hidden;
}

.in-box {
  margin-bottom: 50px;
  padding: 10px;
  background-color: #A9C5D0;
  border-radius: 15px;
  border: solid 1px #803d37;

}


.ok-task-input {
  margin-top: 80px;
  color : #803d37;
}

/* ___________________________________________ BREAKING ___________________________________________ */
.face{
  fill: #eb8fb5;
}

.blush{
  fill: #F60E76;
  border: solid 1px;
  filter: blur(5px);
}
.sparkle{
  fill: white;
  animation: eyes-bigger 3s infinite;
}

.eyes{
  animation: eyes-bigger 3s infinite;
  fill: #242526;
}

.mouth{
  animation: wow-smile 3s infinite;
  clip-path: circle(30%);
  fill: none;
  stroke: maroon;
  stroke-width: 100px;
  stroke-linecap: round;
}

/* KEYFRAMES */
@keyframes wow-smile{
  0% {
    clip-path: circle(25%);
  }

  50% {
    clip-path: circle(50%);
  }

  100% {
    clip-path(100%);
    stroke-width: 12px;
  }
}

@keyframes eyes-bigger{
  0% {
    clip-path: circle(16%);
  }

  50% {
    clip-path: circle(19%);
  }

  100% {
    clip-path: circle(14%);
  }
}

#empty-tomato {
overflow: hidden;
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

#filling-tomato {
/*   visibility: hidden;  */
  width: 1%;
  height: 200px;
  background-color: red;
}








/* woo */
